.Login {
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		background-color: var(--background-color);
		border-radius: 12px;
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
	}

	input {
		margin: 1rem 0;
		padding: 12px;
		/* width: 100%; */
		/* max-width: 300px; */
		border: 1px solid #ccc;
		border-radius: 8px;
	}

	.suggested-action {
		margin-top: 1rem;
		padding: 0.75rem 1rem;
		width: 100%;
		/* max-width: 300px; */
		background-color: #007bff;
		color: white;
		border: none;
		border-radius: 8px;
		cursor: pointer;
	}

	.suggested-action:hover {
		background-color: #0056b3;
	}
}
