ul li::before {
	content: "- ";
}

button {
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	color: var(--primary-color);
	border-radius: 12px;
	border-left: 12px solid var(--accent-color);
	padding: 1rem;
	margin: 1rem auto;
	transition: background-color 0.25s ease;
	text-align: left;
}

button:hover {
	background-color: var(--bright-1-3);
}
