button {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: var(--background-color);
	border-radius: 12px;
	padding: 1rem;
	transition: background-color 0.25s ease;
	font-size: medium;
	font-weight: bolder;

	.suggested-action {
		background-color: var(--suggested-action);
		color: white;
	}

	.destructive-action {
		background-color: var(--destructive-color);
		color: white;
	}
}

button:hover {
	background-color: var(--bright-1-3);
}

.Form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 1rem;

	input, textarea {
		/* resize: vertical; */
		border: 2px solid var(--slight-accent-color);
		border-radius: 8px;
		padding: 8px;
		font-family: inherit;
		color: var(--text-color);
		/* background-color: var(--background-color); */
		transition: border-color 0.25s ease;
		margin-bottom: 1rem;
	}

	textarea {
		min-height: 120px;
	}

	/* textarea:focus {
		border-color: var(--bright-1-3);
		outline: none;
	} */

	button {
		align-self: flex-start;
	}

	.button-row {
		align-self: flex-end;
		display: flex;
		gap: 10px;
	}
}

.ProfessorCard .email {
	font-weight: normal;
	font-style: italic;
	font-size: medium;
	margin-left: 1rem;
	color: var(--text-muted-color);
}
