.Card {
	/* TODO! Make this sync with the system */
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	color: var(--primary-color);
	border-radius: 12px;
	border-left: 12px solid var(--accent-color);
	padding: 1rem;
	margin: 1rem auto;
	transition: background-color 0.25s ease;
	text-align: left;

	h3 {
		margin-top: 0;
	}

	p {
		margin: 0;
	}
}

.Card:hover {
	/* TODO! Make this sync with the system */
	background-color: var(--bright-1-3);
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}
